html, head, title, head, figure, body, link,
div, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  color: white;
  font-family: sans-serif;
  text-align: center;
  background: black;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

figure {
  display: inline-block;
}

ul {
  list-style: none;
}

li {
  display: block;
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  /*border: 1px solid blue;*/
}

.outer-wall-NW {
  display: block;
  position: absolute;
  top: 12px;
  left: 11px;
  width: 12px;
  height: 11px;
  border-left: 2px solid blue;
  border-top: 2px solid blue;
  border-top-left-radius: 50%;
}

.outer-wall-NE {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 11px;
  height: 11px;
  border-right: 2px solid blue;
  border-top: 2px solid blue;
  border-top-right-radius: 50%;
}

.outer-wall-SW {
  display: block;
  position: absolute;
  bottom: 11px;
  left: 11px;
  width: 12px;
  height: 12px;
  border-left: 2px solid blue;
  border-bottom: 2px solid blue;
  border-bottom-left-radius: 50%;
}

.outer-wall-SE {
  display: block;
  position: absolute;
  bottom: 11px;
  right: 12px;
  width: 11px;
  height: 12px;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  border-bottom-right-radius: 50%;
}

.outer-vertical-wall {
  display: block;
  position: absolute;
  top: 12px;
  width: 25px;
  height: 11px;
  border-top: 2px solid blue;
}

.outer-horizontal-wall {
  display: block;
  position: absolute;
  left: 11px;
  width: 10px;
  height: 25px;
  border-left: 2px solid blue;
}
