/* --- RESET --- */

html, head, title, head, figure, body, link,
div, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- ELEMENTS --- */

body {
  color: white;
  font-family: sans-serif;
  text-align: center;
  background: black;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

figure {
  display: inline-block;
}

ul {
  list-style: none;
}

li {
  display: block;
  position: relative;
  float: left;
  width: 25px;
  height: 25px;

  /* --- TOGGLE GRID --- */
  /*border: 1px solid blue;*/
}

.game-title {
  margin: 20px 0px 40px 0px;
}

/* --- TOP BAR --- */

.top-bar {
  display: block;
  width: 580px;
  height: auto;
  margin: auto;
  font-size: 18px;
}

.timer {
  width: auto;
  height: auto;
  padding: 0px 0px 10px 0px;
}

/* --- OUTER WALLS / INNER BLOCKS --- */

.outer-wall-NW,
.inner-block-NW {
  display: block;
  position: absolute;
  top: 11px;
  left: 11px;
  width: 12px;
  height: 12px;
  border-left: 3px solid blue;
  border-top: 3px solid blue;
  border-top-left-radius: 50%;
}

.outer-wall-NE,
.inner-block-NE {
  display: block;
  position: absolute;
  top: 11px;
  right: 11px;
  width: 12px;
  height: 12px;
  border-right: 3px solid blue;
  border-top: 3px solid blue;
  border-top-right-radius: 50%;
}

.outer-wall-SW,
.inner-block-SW {
  display: block;
  position: absolute;
  bottom: 11px;
  left: 11px;
  width: 12px;
  height: 12px;
  border-left: 3px solid blue;
  border-bottom: 3px solid blue;
  border-bottom-left-radius: 50%;
}

.outer-wall-SE,
.inner-block-SE {
  display: block;
  position: absolute;
  bottom: 11px;
  right: 11px;
  width: 12px;
  height: 12px;
  border-right: 3px solid blue;
  border-bottom: 3px solid blue;
  border-bottom-right-radius: 50%;
}

.outer-wall-horizontal,
.inner-block-horizontal {
  display: block;
  position: absolute;
  top: 11px;
  width: 25px;
  height: 11px;
  border-top: 3px solid blue;
}

.outer-wall-vertical,
.inner-block-vertical {
  display: block;
  position: absolute;
  left: 11px;
  width: 10px;
  height: 25px;
  border-left: 3px solid blue;
}

/* --- INNER WALLS --- */

.inner-wall-top {
  display: block;
  position: absolute;
  top: 12px;
  left: 8px;
  width: 5px;
  height: 11px;
  border-top: 2px solid blue;
  border-right: 2px solid blue;
  border-left: 2px solid blue;
  border-top-right-radius: 35%;
  border-top-left-radius: 35%;
}

.inner-wall-bottom {
  display: block;
  position: absolute;
  bottom: 12px;
  left: 8px;
  width: 5px;
  height: 11px;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
  border-bottom-right-radius: 35%;
  border-bottom-left-radius: 35%;
}

.inner-wall-left {
  display: block;
  position: absolute;
  top: 8px;
  left: 12px;
  width: 11px;
  height: 5px;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
  border-bottom-left-radius: 35%;
  border-top-left-radius: 35%;
}

.inner-wall-right {
  display: block;
  position: absolute;
  top: 8px;
  right: 12px;
  width: 11px;
  height: 5px;
  border-top: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
}

.inner-wall-vertical,
.inner-wall-tee-right,
.inner-wall-tee-left {
  display: block;
  position: absolute;
  left: 8px;
  width: 5px;
  height: 25px;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
}

.inner-wall-horizontal,
.inner-wall-tee-down,
.inner-wall-tee-up {
  display: block;
  position: absolute;
  top: 8px;
  width: 25px;
  height: 5px;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
}

.inner-wall-tee-up-overlay {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 8px;
  width: 5px;
  height: 10px;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  background: black;
}

.inner-wall-tee-down-overlay {
  display: block;
  position: absolute;
  top: 15px;
  left: 8px;
  width: 5px;
  height: 10px;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  background: black;
}

.inner-wall-tee-right-overlay {
  display: block;
  position: absolute;
  top: 8px;
  left: 15px;
  width: 10px;
  height: 5px;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  background: black;
}

.inner-wall-tee-left-overlay {
  display: block;
  position: absolute;
  top: 8px;
  right: 15px;
  width: 10px;
  height: 5px;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  background: black;
}

/* --- INNER WALL CORNERS --- */

.inner-wall-NW {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 15px;
  height: 15px;
  border-top: 2px solid blue;
  border-left: 2px solid blue;
  border-top-left-radius: 35%;
}

.inner-wall-NW-overlay {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 8px;
  height: 8px;
  border-top: 2px solid blue;
  border-left: 2px solid blue;
  border-top-left-radius: 35%;
}

.inner-wall-NE {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 15px;
  height: 15px;
  border-top: 2px solid blue;
  border-right: 2px solid blue;
  border-top-right-radius: 35%;
}

.inner-wall-NE-overlay {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 8px;
  height: 8px;
  border-top: 2px solid blue;
  border-right: 2px solid blue;
  border-top-right-radius: 35%;
}

.inner-wall-SW {
  display: block;
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
  border-bottom-left-radius: 35%;
}

.inner-wall-SW-overlay {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
  border-bottom-left-radius: 35%;
}

.inner-wall-SE {
  display: block;
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 15px;
  height: 15px;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  border-bottom-right-radius: 35%;
}

.inner-wall-SE-overlay {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 8px;
  height: 8px;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  border-bottom-right-radius: 35%;
}

/* --- DOTS --- */

.dot {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 5px;
  height: 5px;
  background: peachpuff;
  border-radius: 50%;
}

/* --- PORTALS --- */

.portal-left {
  display: block;
  position: absolute;
  top: -7px;
  left: -2px;
  width: 20px;
  height: 39px;
  background: orange;
  border-radius: 50%;
}

.portal-left-overlay {
  display: block;
  position: absolute;
  top: -5px;
  left: 3px;
  width: 14px;
  height: 35px;
  background: black;
  border-radius: 50%;
}

.portal-left-pass-through {
  display: block;
  position: absolute;
  top: -2px;
  left: 4px;
  width: 17px;
  height: 29px;
  background: purple;
  border-radius: 50% 150% 150% 50% / 100% 100% 100% 100%;
}

.portal-right {
  display: block;
  position: absolute;
  top: -7px;
  right: -2px;
  width: 20px;
  height: 39px;
  background: cornflowerblue;
  border-radius: 50%;
}

.portal-right-overlay {
  display: block;
  position: absolute;
  top: -5px;
  right: 3px;
  width: 14px;
  height: 35px;
  background: black;
  border-radius: 50%;
}

.portal-right-pass-through {
  display: block;
  position: absolute;
  top: -2px;
  right: 4px;
  width: 17px;
  height: 29px;
  background: purple;
  border-radius: 150% 50% 50% 150% / 100% 100% 100% 100%;
}

/* ---  POWERUP --- */

.powerup {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 17px;
  height: 17px;
  background: peachpuff;
  border-radius: 50%;
}

/* --- HIPPOLYTA --- */

/*.hippolyta {
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 30px;
  height: 30px;
  background: darkmagenta;
  border-radius: 50%;
}*/

/*.hippolyta {*/
  /*.mouth-open.left*/
  /*display: block;
  position: absolute;
  top: -6px;
  left: -9px;
  width: 32px;
  height: 36px;
  background-image: url("../images/hippolyta-mouth-open-left.png");
  background-position: top left;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: contain;
}*/

.hippolyta {
/*.mouth-closed.left*/
  display: block;
  position: absolute;
  top: 0px;
  left: -1px;
  width: 32px;
  height: 36px;
  background-image: url("../images/hippolyta-mouth-closed-left.png");
  background-position: top left;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: contain;
}
